.ident{
    /* opacity: 0; */
    display: none;
}
body {
    font-family: 'Poppins';
    text-align: center;
    
}
h1 {
    color: #fff;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
button {
    font-family:'poppins';
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 700;
    font-size: 16px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor:pointer;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

button:hover {
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
}

div.ident {
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 0px;
    /* flex: 1 0 20px; */
    flex-wrap: wrap;
}

div.ident select {
    padding: 10px 30px;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    flex: 1 0 10px;
    border: 1px solid #00000021;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}
input#searchValue {
    padding: 10px 30px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    flex: 1 0 10px;
    border: 1px solid #00000021;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}
div.ident select option {
    font-size: 12px;
}

table#mobilespecs td {border: none;}

table#mobilespecs tr:nth-child(1) {
    /* border: none; */
    font-size: 16px;
    font-weight: 600;
}

table#mobilespecs {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
}